/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }
  .heading-tertiary {
    font-size: 2rem;
  }

  .description-how {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .baits {
    border-radius: 0px;
  }
  .baits-tags {
    padding: 2.2rem 0 0 0.4rem;
  }
  .bait-attribute {
    padding: 0.8rem;
  }
  .icon-bait {
    margin-right: 0.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    position: fixed;
    top: 4%;
    right: 4%;
    display: block;
    z-index: 9999;
    transition: all 0.5s ease-in;
  }
  .header {
    overflow-x: hidden;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 500;
  }

  .nav-open.main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }
  .modal {
    width: 70rem;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .fishing-tab-container {
    grid-template-columns: 1fr 1fr;
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .modal {
    width: 60rem;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .img-box:nth-child(2) {
    grid-row: 1;
  }

  .img-box:nth-child(6) {
    grid-row: 5;
  }

  .img-box {
    transform: translateY(2.4rem);
  }

  .fishing-tab-container {
    grid-template-columns: 1fr;
  }
  .section-fishing-grounds {
    padding: 9.6rem 0rem;
  }
  .slider,
  .slide {
    height: 75rem;
  }
  .baits {
    margin: 0 auto 3.2rem;
  }
  .modal {
    max-width: 50rem;
    height: 60rem;
    gap: 3rem;
    z-index: 10000;
  }
}
