/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #f3f3f3;
}
.logo {
  height: 2.6rem;
  font-size: 3rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
}
.logo > span {
  color: #4dabf7;
  font-weight: 700;
}
/**************************/
/* NAV */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
}
/* STICKY NAVIGATION */
.sticky {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
/* MOBILE-NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  font-size: 3.6rem;
  color: #333;
}

/**************************/
/* HERO-SECTION */
/**************************/

.section-hero {
  background-color: #f3f3f3;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}
.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

/**************************/
/* HOW-SECTION */
/**************************/
.section-how {
  padding: 9.6rem 0;
}
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-img {
  width: 100%;
  border-radius: 5px;
}
.description-how {
  font-size: 1.6rem;
  line-height: 1.5;
}
/**************************/
/* FISHING-RODS-SECTION */
/**************************/
.section-fishing {
  padding: 9.6rem 2.8rem;
  background-color: #f3f3f3;
}
.fishing-tabs {
  max-width: 100rem;
  /* margin: 12rem auto 0 auto; */
  background-color: #fff;
  border-radius: 20px;
}
.fishing-tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.2rem;
  row-gap: 1.2rem;
}
.fishing_tab {
  transform: translateY(-100%);
  background-color: #4dabf7;
}
.tab-num {
  /* color: #333; */
  font-weight: 600;
}
.fishing_tab--active {
  transform: translateY(-120%);
  background-color: #5ed576;
}
.fishing_content {
  display: none;
}
.fishing_content--active {
  display: block;
  padding: 5.2rem 2.8rem;
  transform: translateY(-10%);
}
.btn-fish {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  padding: 1.2rem 1rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.btn-fish:hover {
  background-color: #5ed576;
}
.fishing_text_box {
  font-size: 2.2rem;
  font-weight: 300;
}
/**************************/
/* FISHING-GROUNDS-SECTION */
/**************************/
.section-fishing-grounds {
  padding: 9.6rem 2.8rem;
}
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 11px;
}
.slide {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* THIS creates the animation! */
  transition: transform 1s;
}
.slide--1 {
  background-image: url(../src/img/jezioro.jpg);
}
.slide--2 {
  background-image: url(../src/img/sea.jpg);
}
.slide--3 {
  background-image: url(../src/img/summary.jpg);
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3.25rem;
  cursor: pointer;
  z-index: 100;
}
.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
.fishing_grounds {
  width: 65%;
  position: relative;
  z-index: 1000;
  color: #fff;
}

.fishing_grounds-text {
  letter-spacing: 1px;
  line-height: 1.75;
  font-size: 2rem;
  font-weight: 400;
  z-index: 100;
}
.heading-h5.heading-slider {
  font-size: 3rem;
  color: #fff;
}
/**************************/
/* BAITS-SECTION */
/**************************/
.section-baits {
  padding: 9.6rem 0;
}
.baits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 3.2rem;
}
.baits-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.4rem 0rem;
}
.bait-attribute {
  list-style: none;
  padding: 1.2rem;
  font-size: 1.4rem;
}
.bait-img {
  width: 100%;
}
.baits-tags {
  padding: 2.2rem 0 0 0.4rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--peaceful {
  background-color: #51cf66;
}
.tag--aggressive {
  background-color: #ff585f;
}
.icon-bait {
  font-size: 2rem;
  margin-right: 1.4rem;
  color: #4dabf7;
}
.baits:hover {
  transform: translateY(-2%);
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.link {
  text-decoration: none;
  color: #4dabf7;
}
.btn-link {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transform: translateY(0%);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow-right;
}
/**************************/
/* FOOTER-SECTION */
/**************************/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4.6rem 0;
  background-color: #333;
  color: #fff;
}
.footer-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5.2rem;
}
.footer-description {
  text-align: center;
  font-size: 2.6rem;
  padding: 3.2rem 9.6rem;
}
.btn.footer-btn {
  background-color: #4dabf7;
  margin-top: 3.2rem;
  color: #fff;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}
.footer-copyright > .logo {
  color: #fff;
  font-size: 3.2rem;
}
.copy {
  font-size: 1.4rem;
  font-weight: 300;
}
.copy-sp {
  font-weight: 700;
}

/**************************/
/* MODAL-SECTION */
/**************************/

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  top: 50%;
  left: 50%;
  max-width: 55rem;
  transform: translate(-50%, -50%);
  color: #333;
  background-color: #f3f3f3;
  padding: 3rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 5px;
}
.modal--header {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
.modal--description {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}
.modal-logo {
  text-align: center;
  margin-bottom: 3.2rem;
}
.modal-form {
  width: 100%;
}
.email {
  display: inline-block;
  text-align: center;
  height: 4.4rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  color: inherit;
  font-size: 1.8rem;
  font-family: inherit;
}
.btn-modal {
  display: inline-block;
  height: 4.4rem;
  width: 100%;
  margin-bottom: 2.4rem;
  border: none;
  border-radius: 5px;
  background-color: #4dabf7;
  color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
.cancel {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.cancel::after {
  margin: 0 auto;
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  box-shadow: 0px 1px 0px #333;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.btn--close-modal {
  position: absolute;
  top: 2%;
  right: 2%;
  border: none;
  cursor: pointer;
}
.icon-close-modal {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: #aaa;
}
